.header{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 20px 0px 60px;
  background-color: #fff;
  .button{
    .dropdown-menu{
      margin-top: 20px;
    }
    margin: 15px 5px;
    padding: 10px;
    position: relative;
    img{
      height: 30px;
    }
  }
  .button_filter {
    form {
      padding-left: 15px;
    }
  }
  .button_sorting{

  }
  .button_add{
    .btn{
      width: 80px;
      padding: 6px;
      font-size: 12px;
    }
  }
  .button_profile{
    position: relative;
    .ava{
      img{
        border-radius: 50%;
        width: 30px;
      }
    }
    .chevron{
      display: none;
      position: absolute;
      top: 20px;
      left: 48px;
      img {
        width: 9px;
        height: 9px;
      }
    }
    .active{
      display: block;
    }
  }
}

.loader{
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
}
.home{
  background-color: #f6f7fa;
  padding: 20px;
  position: relative;
  font-size: 16px;

  .view{
    position: absolute;
    top: 20px;
    right: 40px;
    .view_icon{
      img{
        width: 20px;
        height: 20px;
      }
    }

  }
  @media (max-width: 576px) {
    .view{
      display: none;
    }
  }
  .toDo{
    h2{
      display: inline-block;
      margin-top: 10px;
      color: #000000;
      span{
        color: #8693b0;
      }
    }
    .list{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;

      .iteam{
        background-color: #ffffff;
        height: 120px;
        padding: 15px;
        padding-right: 30px;
        display: flex;
        justify-content: flex-start;
        border: #f6f7fa solid 2px;
        position: relative;
        width: 100%;
        .iteam__icon{
          padding: 15px;
          div{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: #5584ff;
            display: flex;
            justify-content: center;

            span{
              padding-top: 4px;
              color: white;
              font-size: 26px;
              vertical-align: center;
            }
          }
        }
        .iteam__content{
          display: flex;
          flex-direction: column;
          width: 100%;
          .iteam__info{
            align-self: flex-end;
            display: flex;
            justify-content: flex-end;
            .iteam__priority{
              display: flex;
              align-content: center;
              img{
                margin: 3px;
                width: 10px;
                height: 10px;
              }
              span{
                font-size: 10px;
                color: black;
                font-weight: bold;
              }
            }
            .iteam__date{
              display: flex;
              align-content: center;

              img{
                margin: 3px;
                width: 10px;
                height: 10px;

              }
              span{

                font-size: 10px;
                color: #aeb8ca;
              }
            }
          }
          h3{
            font-size: 20px;
            margin-top: 5px;
          }
          p{
            height: 40px;
            font-size: 14px;
            color: #4f5f6f;
            overflow: hidden;

          }
          .action{
            padding: 7px;
            position: absolute;
            top: 50px;
            right: 5px;
            img{
              height: 20px;
            }

          }
        }
      }
      .action_menu{
        position: fixed;
        top:0;
        left: 50px;
        width: 50px;
        display: inherit;
        flex-direction: column;
        button{
          width: 50px;
        }
      }
      @media (min-width: 576px) {
        .grid_style {
          flex-direction: column;
          align-items: center;
          width: 200px;
          height: 220px;

          .iteam__info {
            min-height: 30px;
          }
        }
      }
    }
  }
}

.toDo__list {
  padding: 0;
}

