.modal.fade.in {
    display: block;
    opacity: 1;
    margin-top: 10px;
    span, label{
        font-size: 14px;
    }
    font-size: 14px;
    .btn__grup{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        .select {
            width: 100%;
            margin: 0 4px;
        }
    }
}
