html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
a:hover,a:visited, a:focus, a:active, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: 0;
  text-decoration: none;
  color: inherit;


}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  /*position: relative;*/
  line-height: 1;
}
ol, ul {
  list-style: none;

}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*--------------------------*/
.system_window{
  display: flex;
  justify-content: space-between;
  height: 100%;
  .sideBar {
    position: relative;
    min-width: 200px;
    height: 100%;
    background-color: #0e1a35;
    color: white;
    .button_menu {
      position: absolute;
      top: 15px;
      left: 210px;
      padding: 10px;
      .chevron {
        position: absolute;
        top: 19px;
        left: -2px;
        display: none;
        img {
          width: 9px;
          height: 9px;
        }
      }
      img{
        width: 30px;
        height: 30px;
      }
      .active {
        display: block;
      }
    }
    .side__header {
      padding: 10px;
      display: flex;
      align-items : center;
      .side__logo {
        border: solid 5px;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        img{
        }
      }
      h1 {
        padding: 0 0 3px 10px;
        margin: 0;
        font-size: 15px;
        vertical-align: center;
      }
      margin-bottom: 20px;
    }
    .side_section {
      .side_menu {

        .side_menu__iteam {
          padding: 10px;
          display: flex;
          align-items: center;

          .side_menu__iteam__icon {
            img{
              height: 12px;
            }
          }
          a {
            padding: 0 0 0 10px;
            font-size: 12px;
          }
          a:focus{
            color: inherit;
          }
        }
        .active {
          background-color: #122143;
          border-left: 3px solid #5584ff;
          padding-left: 7px;
        }
      }
    }
  }
  .content{
    flex-basis: 100%;
    .header{
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin: 0 20px 10px 60px;
      .button{
        margin: 15px 5px;
        padding: 10px;
        position: relative;
        img{
          height: 30px;
        }
      }
      .button_filter{
      }
      .button_sorting{

      }
      .button_add{
        .btn{
          width: 77px;
          padding: 6px;
          font-size: 12px;
        }
      }
      .button_profile{
        position: relative;
        .ava{
          img{
            border-radius: 50%;
            width: 30px;
          }
        }
        .chevron{
          display: none;
          position: absolute;
          top: 20px;
          left: 48px;
          img {
            width: 9px;
            height: 9px;
          }
        }
        .active{
          display: block;
        }
      }
    }
    section {
    }
  }
}





