
<div class="system_window">
    <div class="sideBar green-them"
         [ngClass]="{'hide': !isSideBarVisible, 'green-them': isGreenThem}" >
      <aside >
        <div
            class="button button_menu"
            (click)="toggleSideBar()"
        >
          <div class="chevron" [ngClass]="{'active': isSideBarVisible}">
            <img src="../../assets/images/icons/left-chevron.svg">
          </div>
          <div class="chevron "[ngClass]="{'active': !isSideBarVisible}">
            <img src="../../assets/images/icons/right-chevron.svg">
          </div>
          <img src="../../assets/images/icons/menu-button.svg">
        </div>
        <div class="side__header" >
          <div class="side__logo">
            <!--<img src="../../assets/images/logo.svg">-->
          </div>
          <h1>ToDo</h1>
        </div>
        <div class="side_section">
          <ul class="side_menu">
            <li class="side_menu__iteam " routerLinkActive="active">
              <div class="side_menu__iteam__icon">
                <img src="../../assets/images/icons/home.svg">
              </div>
              <a [routerLink]="['/home']">Home</a>
            </li>
            <li class="side_menu__iteam" routerLinkActive="active">
              <div class="side_menu__iteam__icon">
                <img src="../../assets/images/icons/settings.svg">
              </div>
              <a [routerLink]="['/setting']">Setting</a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="content">
          <section>
              <router-outlet
              (blueThem)="blueThem()"
              (greenTheme)="greenThem()"
              ></router-outlet>
          </section>
    </div>
</div>





